input {
    width: 20%;
    padding: 12px 20px 10px 10px;
    margin: 8px 10px 10px 10px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 30, 2018, 9:12:14 AM
    Author     : redgemon
*/

